*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navhome{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: rgba(0, 0,0, 0.5);
    position: sticky;
    top: 0;
}
.navhome ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;


}
.navhome ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight:bold ;
}
.navhome ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navhome ul li a:hover{
    background-color: rgb(235, 212, 212);
    color: black;
    box-shadow: 0 0 10px white;
}
#achivment{
    display: flex;
    flex-direction: column;
    background: url(achieve.jpg) no-repeat center center/cover;
    background-color: white;
    height: 900px;
    justify-content: center;
    align-items: center;
    color: black;
}
#heading{
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    margin: 40px;
}
#none h1{
    text-align: center;
    text-decoration: none;
    block-size: bold;

}
footer{
    background-color: rgba(0, 0,0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    position: sticky;
    gap: 30px;
}
.icons{
    width: 35px;
    height: 35px;
}
a:hover{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}